extends ../template/template.pug
block content
	.page
		main.main
			.container
				.flex-container.align-justify
					.flex-container.align-middle.options
						+button('button')(data="#btc").crypto.active BTC
						+button('button')(data="#eth").crypto ETH
						+button('button')(data="#xrp").crypto XRP
						+button('button')(data="#ltc").crypto LTC
						+button('button')(data="#bch").crypto BCH
						+button('button')(data="#ada").crypto ADA
						+button('button')(data="#qtum").crypto QTUM
					.flex-container.align-middle.options
						+button('button')(data="usd") USD
						+button('button')(data="eur") EUR

			.container#cha