.banner{
	margin: 10px 0;
	width: 100%;
	height: 260px;
	border: 1px solid $third;
	transition: all .5s;
	&:hover{
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	}
	&__header,
	&__body{
		padding: 10px 20px;
	}
	&__header{
		background-color: #d4d4d4;
	}
	&__body{
		flex-grow: 1;
		*{
			margin: 10px 0;
			line-height: 1;
		}
	}
}

.pricing{
	border: 1px solid red;
	display: none;
	padding: 10px 0;
}


.currency{
	&__data{
		*{
			margin: 0 2px;
		}
	}
}


.range{
	max-width: 600px;
	margin: 100px auto;
	border: 1px solid red;
	input[type="range"]{
		width: 100%;
	}
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

.block-input{
	width: 50%;
	border: 1px solid red;
	position: relative;
	height: 50px;
	background-color: $second;
	p{
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}
	&:first-child{
		p{
			right: 10px;
		}
		input{
			padding-right: 50px;
		}
	}
	&:last-child{
		p{
			left: 10px;
		}
		input{
			text-align: right;
			padding-left: 50px;
		}
	}
}