.button{
	border: 0;
	padding: 7px 12px;
	margin: 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $third;
	border: 1px solid darken($third, 10%);
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	&:hover,
	&.active{
		background-color: $primary;
		border: 1px solid darken($primary, 10%);
		color: #fff;
	}
	&--primary{
		background-color: $primary;
		border: 1px solid darken($primary, 10%);
		color: #fff;
		width: 100%;
		max-width: 200px;
		padding: 10px 15px;
	}
}