.range{
	max-width: 700px;
	margin: 0 auto;
	input[type="range"]{
		width: 100%;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}
	&__wrapper{
		margin: 30px auto 20px auto;
	}
	&__scale{
		p{
			overflow: hidden;
			white-space: nowrap;
			text-align: center;
			text-overflow: ellipsis;
			text-align: left;
			&:before{
				content: '';
				height: 10px;
				width: 1px;
				background-color: $primary;
				display: block;
				margin: 0 auto;
			}
			&:first-child{
				&:before{
					margin-left: 5px;
					margin-right: auto;
				}
			}
			&:last-child{
				&:before{
					margin-left: auto;
					margin-right: 5px;
				}
			}
			@include media-max(575){
				span{
					display: block;
					margin-top: 15px;
					margin-bottom: 15px;
					transform: rotateZ(-45deg);
				}		
			}
		}
	}
	.block-input{
		width: 50%;
		position: relative;
		height: 50px;
		border: 1px solid $third;
		background-color: $second;
		p{
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
		}
		&:first-child{
			margin-right: 10px;
			p{
				right: 10px;
			}
			input{
				padding-right: 50px;
			}
		}
		&:last-child{
			margin-left: 10px;
			p{
				left: 10px;
			}
			input{
				text-align: right;
				padding-left: 50px;
			}
		}
	}
}
